@font-face {
    font-family: "FiraSans-Regular";
    src: url("../fonts/FiraSans-Regular.ttf");
}

@font-face {
    font-family: "FiraSans-Light";
    src: url("../fonts/FiraSans-Light.ttf");
}

@font-face {
    font-family: "FiraSans-Medium";
    src: url("../fonts/FiraSans-Medium.ttf");
}