@import "~src/assets/css/colors.scss";

.alert-container {
    position: fixed;
    bottom: 20px;
    right: 20px;

    .alert {
        padding: 5px 10px;
        text-align: center;
        p {
            color: $milk;
        }

        &-success {
            background-color: green;
        }

        &-warning {
            background-color: orange;
        }

        &-failure {
            background-color: red;
        }
    }
}