<header class="header">
  <h1><a [routerLink]="['/posts']">Guest Book</a></h1>
  <nav>
    <ul *ngIf="this.auth.isAuthenticated(); else authorization">
      <li><a routerLinkActive="active" [routerLink]="['/create-post']">Write a review</a></li>
      <li><a (click)="this.auth.logout()">Log out</a></li>
    </ul>
    <ng-template #authorization>
      <ul>
        <li><a routerLinkActive="active" [routerLink]="['/login']">Log in</a></li>
        <li><a routerLinkActive="active" [routerLink]="['/signup']">Sign up</a></li>
      </ul>
    </ng-template>
  </nav>
</header>

<app-alert></app-alert>

<router-outlet></router-outlet>